<div>
  <h1><%= @check.name %></h1>
  <p>Amount: <%= @check.amount %></p>
  <p>Number: <%= @check.number %></p>
  <p>Date: <%= @check.date %></p>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
</div>


